* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 80%;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 9px 9px 19px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 9px 9px 19px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 9px 9px 19px 1px rgba(0,0,0,0.52);
}

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card_left > span {
    font-weight: 400;
}


.card_left > a {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.card_left > a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.card_left > p {
    color: rgb(70, 70, 70);
}

.card_right > img{
    max-height: 150px;
}